@import "tailwindcss";


:root {
  --lightHover: #fcf4ff;
  --darkHover: #2aee4a;
  --darkTheme: #11001F;
}

@theme inline {
  --color-lightHover: var(--lightHover);
  --color-darkHover: var(--darkHover);
  --color-darkTheme: var(--darkTheme);

  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  /* font-family: 'Outfit', sans-serif; */
}